<head>
    <meta charset="UTF-8">
    <meta http-equiv="content-type">
    <title><%- locals.title || "Stephen Brooks - Web Developer" -%></title>
    <meta name="description" content="Web development and design agency that builds web pages for suitable and appealing layout for content.">
    <link rel="icon" href="/assets/navLogo.png" type="image/x-icon">
    <link rel="apple-touch-icon" href="/assets/navLogo.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="article" content="Express Development with Bootstrap & Mongoose Atlas">
    <meta title="express developer" about="Express Development with Bootstrap & Mongoose Atlas">
    <meta name="Stephen Brooks" content="Web Developer for hire">
    <meta property="og:title" content="Using Express As A Framework for Small Businesses" />
    <meta property="og:description" content="Getting the most out of simple with the power of JavaScript." />
    <meta property="og:image" content="/assets/navLogo.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
    <link rel="stylesheet" href="/bootstrap.min.css">
    <link rel="stylesheet" href="/mdb.min.css">
    <link rel="stylesheet" href="/parallax.min.css">
    <link rel="stylesheet" href="/styles/styles.css">
</head>