<!DOCTYPE html>
<html lang="en">
<%- include('layouts/header') -%>
<body>
<%- include('layouts/navBar') -%>
<main>
    <div class="container flex-center text-center">
        <div class="row justify-content-center align-items-center" style="height: 80vh;">
            <div class="col-md-12 wow fadeIn mb-3">
                <h1 class="display-3 mb-2 wow fadeInDown" data-wow-delay="0.3s">
                    Page
                    <a class="grey-text font-weight-bold">Not</a>
                    Found
                </h1>
            </div>
        </div>
    </div>
</main>
<%- include('layouts/footer') -%>
</body>
<%- include('layouts/scripts') -%>
</html>