<ul class="list-group list-group-flush">
    <li class="list-group-item">title
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">sub heading
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">image
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">
        <p class="text-muted">
            These actions will directly affect the home page article section, below the main introduction.
            If all is deleted then it will show the default one.
        </p>
    </li>
</ul>