<ul class="list-group list-group-flush">
    <li class="list-group-item">title
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">sub heading
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">image
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">
        <p class="text-muted">
            These actions will directly affect the home page introduction section, or divert back to default if all is deleted, or use the edit
            to replace it with new content.
        </p>
    </li>
</ul>