<% if(projects !== "") { %>
    <ul class="list-group list-group-flush">
        <% for(i=0; i < projects.length; i++) { %>
            <li class="list-group-item"><%= projects[i].title %>
                <a href="/singleProject/<%= projects[i]._id %>">
                    <i class="fab fa-readme"></i>
                </a>
                <a href="/delete/project/<%= projects[i]._id %>">
                    <i class="fas text-warning fa-trash-alt"></i>
                </a>
            </li>
        <% } %>
    </ul>
<% } else { %>
    <p class="h5">There are no projects to show.</p>
<% } %>