<ul class="list-group list-group-flush">
    <% for(i=0; i < schedule.length; i++) { %>
        <li class="list-group-item"><%= schedule[i].title %>
            <i class="far fa-edit"></i>
            <a href="/schedule">
                <i class="fab fa-readme"></i>
            </a>
            <a href="/delete/schedule/<%= schedule[i]._id %>">
                <i class="fas text-warning fa-trash-alt"></i>
            </a>
        </li>
    <% } %>
</ul>