<ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">Dapibus ac facilisis in
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">Morbi leo risus
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">Porta ac consectetur ac
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
    <li class="list-group-item">Vestibulum at eros
        <i class="far fa-edit"></i>
        <i class="fab fa-readme"></i>
        <i class="fas fa-trash-alt"></i>
    </li>
</ul>